/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: white;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*for highlighting active page on nav bar */
body#home nav li#nav-home,
body#about-me nav li#nav-about-me,
body#projects nav li#nav-projects,
body#services nav li#nav-services,
body#github nav li#nav-github,
body#contact-me nav li#nav-contact-me
{
background-color:#03406A;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color:#014D57;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Red Blue Theme
   =================== */

.header-container {
    border-bottom: 10px solid #03406A;
}

.footer-container,
.main aside {
 }

.main-container{
	margin-top:20px;
}

.header-container,
.footer-container,
.main aside {
    background: black;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 0px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    
}
nav a:hover {
    background-color: #03406A;
    
}


}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 0px;
    margin-bottom:60px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
    min-height:60px;
    
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.more-projects{
	display:block;
	background-color:#3E94D1;
	margin-left:70px;
	height:50px;
	width:200px;
	text-align: center;
	line-height:50px;
	text-decoration:none;
	color:white;
	font-weight:bold;
}

#aside-more-projects a:hover{
	background-color:#03406A;
	}

#aside-more-projects{
	background:none !important;
}

/*style the footer text and icons*/
.footer-list{
	display:inline;
	list-style-type:none;
	
	}

.footer-list li{
	float:left;
	margin-right:200px;
}

/*styling for projects and services page list*/

.information-list {
	list-style-type: none;
}

.information-list li img{
	float:left;
	margin-right:15px;
}

.information-list li{
	height:158px;
}

.information-list li h2{
	padding-top:15px;
}

.information-list li:hover{
	background-color:#599100;
}














/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        margin: 1px;
        padding: 0px 2%;
        margin-bottom: 0;
        height:40px;
        line-height:40px;
    }
    
    nav li a:link, a:visited{
    }
    
    nav li a:hover,a:active{
    	
    }

	nav {
		margin-top:30px;
		background-color:black;
	}
    /*nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }*

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav li {
        float:left;
        list-style-type:none;
        width:16.5%;
        display:block;
		font-weight:bold;
		color:#FFFFFF;
		text-align:center;
		border-style:none;
		border-bottom:none;
		border-width:2px;
		border-color:#000000;
		background: #3E94D1;
		margin-left:1px;
    	
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        min-width: 700px;
        height:40px;
        
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Slideshow styles
   ========================================================================== */

#slides {
	position:relative;
	top:-20px;
	right:-10px;
	z-index:100;
	
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	height:270px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slide {
	padding:20px;
	width:530px;
	height:230px;
	display:block;
	
}

/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

#slides .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}

#frame {
	position:relative;
	z-index:0;
	width:739px;
	height:326px;
	top:-327px;
	left:-74px;
}

.slider{
	float:right;
	list-style-type:none;
	padding:0px;
	margin:0px;
}

.slider li{
	float:right;
	width:50%;
}




/*style the more info button on slides*/
.more-info{
	background:#A8F000;
	display:inline-block;
	position:relative;
	top:-50px;
	width:170px;
	height:40px;
	margin-left:300px;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	color:white;
}

/*change color on hover for more info button on slides*/
.slide a:hover{
	background:#599100;
	font-weight:bold;
}

.slider-image {
	margin-left:30px;
	border-style:groove;
	border-width:5px;
	border-color:#A8F000;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}